@font-face {
  font-family: Novelist;
  src: url("Novelist.83f2e741.otf");
  font-weight: normal;
}

:root {
  --color-dark: #212122;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  font: 14px / 1.2 Arial, sans-serif;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: Roboto Condensed, Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.container {
  max-width: 930px;
  margin: 0 auto;
}

@media screen and (width >= 930px) {
  .container {
    box-sizing: content-box;
  }
}

.content {
  padding: 0 16px;
}

p {
  color: #999;
}

.header {
  background: #212122;
  width: 100%;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  display: flex;
}

@media screen and (width >= 768px) {
  .header__buttons {
    display: none;
  }
}

.header__button {
  background: none;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.header__button:last-of-type {
  margin-right: 0;
}

.header__button_search {
  background-image: url("search.0bb8c215.svg");
}

.header__button_profile {
  background-image: url("profile.bc0aefe0.svg");
}

.header__button_menu {
  background-image: url("menu.e83ea243.svg");
}

.header__nav {
  display: none;
}

@media screen and (width >= 768px) {
  .header__nav {
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

.header__sign-in {
  color: #fff;
  background: none;
  border: 1px solid #ccc;
  border-radius: 61px;
  height: 38px;
  padding: 0 16px;
}

.header__right {
  display: none;
}

@media screen and (width >= 768px) {
  .header__right {
    align-items: center;
    display: flex;
  }
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
}

.header__left {
  align-items: center;
  gap: 20px;
  display: flex;
}

.cards {
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  width: 100%;
  display: grid;
}

@media screen and (width >= 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  text-align: center;
  position: relative;
}

.card__img {
  width: 100%;
}

.card__price_old {
  color: #aeb5b9;
  position: relative;
}

.card__price_old:after {
  content: "";
  background: #aeb5b9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 9px;
  left: 0;
}

.card__sale {
  background-image: url("sale.bb14cb6a.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.order-background {
  background: #00000080;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.order {
  background: #fff;
  width: 600px;
  height: 600px;
  padding: 32px 16px;
}

.order__input {
  border: 1px solid #999;
  width: 100%;
  height: 38px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.order__input:focus {
  border-color: #0f8fee;
  outline: none;
}

.order__button {
  color: #fff;
  background: #0f8fee;
  border: none;
  width: 100%;
  height: 38px;
}

.order__button:active {
  background: #3781d0;
  transform: translate(1px, 1px);
}

.select {
  appearance: none;
  background-image: url("arrow.d791fdbc.svg"), linear-gradient(to right, #999 1px, #0000 1px);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 28px;
  border: 1px solid #999;
  border-radius: 0;
  width: 100%;
  height: 38px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.order__pickup {
  border: 1px solid #999;
  margin-bottom: 20px;
  display: flex;
}

.order__pickup label {
  text-align: center;
  color: #666;
  width: 50%;
  height: 38px;
  line-height: 38px;
  display: inline;
}

.order__pickup label:first-of-type {
  border-right: 1px solid #999;
}

.order__pickup input[type="radio"] {
  display: none;
}

.order__radio:checked + label {
  color: #333;
  background: #eee;
}

.services {
  background-color: #f2f2f2;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 24px 16px;
  display: grid;
}

.services__card {
  align-items: center;
  gap: 16px;
  display: flex;
}

.services__card_img {
  width: 40px;
  height: 40px;
}

.services__card_text {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (width >= 768px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 40px;
  }
}

.footer__down {
  background-color: #212122;
  height: 300px;
  padding: 16px 8px;
}

.contacts__cards {
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}

.contacts__cards div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
}

.contact__card_facebook {
  background-image: url("facebook.ea338ab7.svg");
}

.contact__card_twitter {
  background-image: url("twitter.02d5a07e.svg");
}

.contact__card_vk {
  background-image: url("vk.f70c6ae3.svg");
}

.contact__card_instagram {
  background-image: url("instagram.6fb4e9cf.svg");
}

.footer__stores {
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}

.footer__stores a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 50px;
  display: block;
}

.store__appstore {
  background-image: url("appstore.bd26a0f9.svg");
}

.store__googleplay {
  background-image: url("googleplay.afffc6ab.svg");
}

.footer__logo {
  display: none;
}

@media screen and (width >= 1200px) {
  .footer__down_refs {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .footer__logo {
    background-image: url("hh_gray.0dea22ae.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: block;
  }
}

@media screen and (width >= 768px) {
  .footer__down_refs {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
/*# sourceMappingURL=hh-school-practice-2026.d2908973.css.map */
